<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF=8">
    <title>HackerRank日本語まとめ</title>
    <link type="text/css" href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="title">HackerRank日本語まとめ</div>
    <div role="main">
    	<h1>コンテストの追加</h1>
		<p>コンテストURLの 'https://www.hackerrank.com/'以下の部分とwriterの情報を送信してください</p>
		<p>writerはカンマ区切りでお願いします（例：'chokudai, snuke'）</p>
		<p>クォーテーションはいりません</p>

    </div>
</body>
</html>
